<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input id="email" type="email" name="email" ngModel required email #emailCTRL="ngModel" />
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" ngModel required minlength="6" #passwordCTRL="ngModel" />
    </div>

    <button class="button">Login</button>
  </div>
  
  @if(emailCTRL.touched && emailCTRL.dirty && emailCTRL.invalid){
    <p class="control-error">
      Invalid email entered. Please try again.
    </p>
  }

  @if(passwordCTRL.touched && passwordCTRL.dirty && passwordCTRL.invalid){
    <p class="control-error">
      Invalid password entered. (Minimum: 6 characters) Please try again.
    </p>
  }

</form>
